<h3>Login</h3>


<div>
    <form action="/login/auth" method="post">
        <input type="text" name="username" required="">
        <input type="text" name="password" required="">
        <button type="submit">Entrar</button>
    </form>
</div>