<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NodeJS App 01</title>
    
</head>
<body>
    <h1>My Node JS App</h1>
    <h3>Hello, <%= user.name %> </h3>
    <p>Lorem ipsum dolore</p>
    <p>Route: <span class="route"></span></p>
    <p>QueryStrings:</p>

    <script src='/public/assets/js/site.js'></script>
</body>
</html>