<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NodeJS App 01</title>
    
</head>
<body>
    <h1>Layout</h1>

    <%- include('../'+content); -%>

    <script src='/public/assets/js/site.js'></script>
</body>
</html>